
@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="row">
        @*Kategoriler Sekmesi*@
        <div class="col-md-3">
            @Html.Partial("_PartialCategories")
        </div>
        @* <p class="lead">Kategori</p>
            <div class="list-group">
                <a href="#" class="list-group-item">Tümü</a>
                <a href="#" class="list-group-item">Category 2</a>
                <a href="#" class="list-group-item">Category 3</a>
            </div>*@


        <div class="col-md-9">
            @* Carousel => tepede dönen zımbırtı*@
            <div class="row ">

                <h2 class="text-center">
                    Hobaley
                </h2>
                <img src="http://placehold.it/500x200" alt="Alternate Text" class="center-block img-responsive img-rounded img-thumbnail" />
                <div>
                    <span class="col-md-1"></span>
                <p class="col-md-10">Learn the skills you need to succeed. Camping Magazine is your primary source for the most recent trends in the camp industry-the latest research in the field of youth development-critical management tools and innovative programming ideas. Camping Magazine is the official publication of the American Camp Association, under the authorization of the National Board of Directors. Experts in the camp field contribute informative articles and essays on current advances in camp management, staffing and human resources, programming, risk management, special populations and diversity, health and wellness, and more.</p>
                    <span class="col-md-1"></span>
                </div>
            </div>

        </div>

    </div>
</div>