
@{
}
<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <form action="#" method="post">
                <input type="text" name="pas"/>
                <input type="submit" value="Submit weakly typed form" />

            </form>
            <p>@ViewBag.result</p>

        </div>

    </div>
</div>